@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: visible;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      margin: 0 20px;
      z-index: 3;

      @include mobile {
        height: 50%;
        width: 100%;
        margin: 0;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {

        display: flex;
        gap: 20px;
        z-index: 3;

        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          font-weight: 300;
          transition: all 0.3s ease-in-out;
          transition-delay: 0.1s;
        }
        button:hover {
          background-color: white;
          color: black;
          transform: scale(1.1) !important;
          transition: all 0.3s ease-in-out;
          transition-delay: 0.1s;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    max-width: 50%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 10%;
    z-index: 1;

    @include mobile {
      height: 50%;
      // width: 50%;
      right: 50% !important;
      transform: translateX(50%);
      top: unset;
      bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    z-index: 1;
    white-space: nowrap;
    color: #ffffff09;
    width: 70%;
    font-weight: bold;
  }

  @media screen and (max-width: 960px) {
    .imageContainer{
      right: 0;

      img {
        max-width: 400px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .imageContainer{
      right: 0;

      img {
        max-width: 240px;
        height: 100%;
        object-fit: cover;
      }
    }
    .slidingTextContainer {
      font-size: 30vh;
      bottom: -30px;
    }

  }

}
