@import "../../app.scss";

.portfolio {
  position: relative;

    .spinner {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid transparent;
      border-top-color: orange;
      animation: spin 1s linear infinite;
    }

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    // padding-top: 50px;
    text-align: center;
    color: orange;
    z-index: -1;
    font-size: 36px;

    @include mobile {
      font-size: 20px;
      top: auto;
      bottom: 0;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;

        margin-top: 30px;
      }

      .imageContainer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;

        @include mobile {
          width: 100%;
          max-height: 250px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 14px;
          object-fit: cover;

          @include mobile {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          transform: none !important;
          padding: 0 10px;
          align-items: center;
          text-align: center;
          margin-bottom: 70px;
          gap: 20px;
        }

        h2 {
          font-size: 72px;

          @include mobile {
            font-size: 36px;
          }
        }
        span {
            font-size: 14px;
            color: orange;
          }

        p {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 16px;
          }

          // add a hover effect to the links inside the a tag
          a {
            color: #00bcd4;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: orange;
            }
          }

        }

        button {
          background-color: orange;
          border: none;
          border-radius: 5px;
          padding: 10px;
          width: 200px;
          cursor: pointer;

          &:hover {
            background-color: #ff8c00;
          }

        }
      }
    }
  }
}
